sqlalchemy
pytest
fastapi
selenium
chromedriver_autoinstaller
httpx
paho-mqtt
python-dotenv
argon2-cffi
sendgrid
pyjwt
passlib[bcrypt]
python-multipart
psycopg
psycopg_binary
psycopg2
pytest-postgresql
psycopg2-binary
pytest-asyncio
gunicorn
uvicorn